{% extends 'base.html' %}
{% block title %} register {% endblock %}
{% block content %}
<body>
    <div class="container">
        <form method="post">
            <h3>Register</h3>
            <div class="form-group">
                <label for="Username">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="password2">Password(Confirm)</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Register</button>
            <br/>
            <br/>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
       </form>
    </div>
</body>
{% endblock %}